<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.moka.engine">
      <engine
            class="com.edf.papyrus.moka.minizinc.opaqueactionexecution.ObjectFlowExecutionEngine"
            description="POMME Project Execution Engine">
      </engine>
   </extension>

</plugin>
